@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* header section start */
/* .header {
  margin: 16px 112px;
} */
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 112px;
}

/* logo section */
.header .logo {
  width: 110px;
  height: 40px;
}
.header .logo img {
  width: 100%;
  height: 100%;
}
/* menu section */
.header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.header .menu a {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.112px;
}

.header .menu a:hover {
  color: #ff503a;
  transition: color 0.3s ease;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* auth section */
.header .auth {
  display: flex;
  gap: 16px;
}

.header .auth a {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.08px;
}

.header .auth a .btn {
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  border-radius: 1234px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.112px;
}

.header .auth a .btn-signIn {
  background-color: #fff;
  border: 1px solid #cbd5e1;
}

.header .auth a .btn-signIn:hover {
  background-color: #cbd5e1;
  color: #000;
  transition: background-color 0.3s ease;
}

.header .auth a .btn-logIn {
  border-radius: 1234px;
  background-color: #4f46e5;
  color: #fff;
}

.header .auth a .btn-logIn:hover {
  background-color: #3933b1;
  color: #fff;
  transition: background-color 0.3s ease;
}

/* hero section */
.hero {
  margin-top: 96px;
  background-image: url("/assets/image/hero-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .gen-z {
  max-width: 800px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  color: #4f46e5;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.084px;
  border-radius: 1234px;
  background-color: #eef2ff;
  width: fit-content;
  padding: 2px 8px;
  align-self: center;
  margin: 0 auto;
}

.hero .gen-z h1 {
  color: #1e293b;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -1.08px;
  margin-top: 24px;
}
.hero .gen-z .description {
  color: #475569;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: 24px;
}
.hero .gen-z .app-store {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.hero .gen-z .app-store button {
  border: none;
  background-color: none;
}

.hero .hero-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
}
.hero .hero-image .right-image {
  position: absolute;
  right: -920px;
  top: 160px;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1200px) {
  .hero .hero-image .right-image {
    position: absolute;
    right: -1050px;
    top: 160px;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 1100px) {
  .hero .hero-image .right-image {
    position: absolute;
    right: -980px;
    top: 160px;
    width: 100%;
    height: 100%;
  }
}

/* start main section */

/* social-proof section */
main .social-proof {
  margin: 0 auto;
  padding: 64px 112px;
  background-color: #f8fafc;
}

main .social-proof .social-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 32px;
  column-gap: 64px;
}
/* start features section */
main .features {
  margin: 0 auto;
  padding: 96px 112px;
  background-color: #fff;
}

main .features .box {
  margin: 0 auto;
  max-width: 800px;
}

main .features .box h2 {
  color: #1e293b;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.504px;
  margin-top: 24px;
}
main .features .box .description {
  color: #475569;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  line-height: 160%;
  margin-top: 24px;
}
main .features .feature-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 48px;
  column-gap: 32px;
  margin-top: 64px;
}
main .features .feature-main .feature-main-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .features .feature-main img {
  width: 80px;
  height: 80px;
}
main .features .feature-main h4 {
  color: #1e293b;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.2px;
  margin-top: 20px;
}
main .features .feature-main p {
  color: #475569;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
  margin-top: 8px;
}
/* start statistics section */
main .statistics {
  background-color: #f8fafc;
  padding: 96px 112px;
}
.statistics .house-conainer {
  display: flex;
  width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  border-radius: 123px;
  background-color: #eef2ff;
  margin: 0 auto;
}

main .statistics h2 {
  color: #1e293b;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  letter-spacing: -0.504px;
  margin-top: 20px;
}

main .statistics .description {
  color: #475569;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  margin-top: 20px;
  padding: 0 204px;
}
main .statistics .count {
  margin-top: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .statistics .count h3 {
  color: #4f46e5;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.08px;
}
main .statistics .count .title {
  color: #475569;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.144px;
  margin-top: 16px;
}
main .statistics .count .divider {
  width: 1px;
  height: 100px;
  background-color: #cbd5e1;
}
/* who-is-it section */
main .who-is-it {
  margin: 0 auto;
  padding: 96px 112px;
  background-color: #fff;
}
main .who-is-it .container {
  max-width: 600px;
}
main .who-is-it .title {
  color: #4f46e5;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.084px;
  border-radius: 1234px;
  background-color: #eef2ff;
  width: fit-content;
  padding: 2px 8px;
}
main .who-is-it h2 {
  color: #1e293b;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.504px;
  margin-top: 24px;
}
main .who-is-it .description {
  color: #475569;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-top: 16px;
}

main .who-is-it .main-container {
  display: flex;
  gap: 32px;
  margin-top: 64px;
}
main .who-is-it .main-container .left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
main .who-is-it .main-container .left-side .box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
main .who-is-it .main-container .left-side .box .bar-line {
  width: 5px;
  height: 100px;
  background-color: #e0e7ff;
  border-radius: 8px;
}
main .who-is-it .main-container .left-side .box h4 {
  color: #475569;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.2px;
}
main .who-is-it .main-container .left-side .box p {
  color: #475569;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 12px;
}
main .who-is-it .main-container .right-side {
  width: 50%;
  max-height: 600px;
}

main .who-is-it .main-container .right-side img {
  width: 100%;
}

/* testimonial section */

main .testimonial {
  margin: 0 auto;
  padding: 96px 112px;
  background-color: #f8fafc;
}

main .testimonial h2 {
  color: #1e293b;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.504px;
  margin-top: 24px;
}
main .testimonial .description {
  color: #475569;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: 24px;
}

main .testimonial .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: 64px;
}
main .testimonial .container .grid-col {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
main .testimonial .container .testimonial-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border-radius: 24px;
  border: 1px solid #e2e8f0;
}
main .testimonial .container .testimonial-box .star {
  display: flex;
  gap: 8px;
  width: fit-content;
}
main .testimonial .container .testimonial-box .review {
  color: #475569;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
main .testimonial .container .testimonial-box .user {
  display: flex;
  gap: 12px;
}
main .testimonial .container .testimonial-box .user h5 {
  color: #1e293b;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.112px;
}

main .testimonial .container .testimonial-box .user p {
  color: #475569;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/* contact section */
main .contact {
  margin: 0 auto;
  padding: 96px 112px;
  background-color: #fff;
}
main .contact .title {
  color: #4f46e5;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.084px;
  border-radius: 1234px;
  background-color: #eef2ff;
  width: fit-content;
  padding: 2px 8px;
}

main .contact h2 {
  color: #1e293b;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.504px;
  margin-top: 24px;
}

main .contact .description {
  color: #475569;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: 24px;
}
main .contact .location {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-top: 64px;
}
main .contact .location .location-continer {
  border-radius: 24px;
  border: 1px solid #e2e8f0;
  padding: 24px;
  min-width: 230px;
}

main .contact .location .location-continer h4 {
  color: #1e293b;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.2px;
  margin-top: 24px;
}
main .contact .location .location-continer p {
  color: #1e293b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/* start FAQ section */
main .faq {
  margin: 0 auto;
  padding: 96px 320px;
  background-color: #f8fafc;
}

main .faq h2 {
  color: #1e293b;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.504px;
  margin-top: 24px;
}

main .faq .description {
  color: #475569;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: 24px;
}

.faq-container {
  margin-top: 48px;
}

.faq-box {
  border-bottom: 1px solid #cbd5e1;
  padding: 15px 0;
}

.faq-box:last-child {
  border-bottom: none;
}

.faq-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.faq-header h5 {
  flex: 1;
  color: #334155;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.112px;
  margin-left: 8px;
}

.faq-header img {
  width: 20px;
  height: 20px;
}

.faq-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.faq-answer {
  display: none;
  color: #475569;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 16px;
}
/* start cta section */
main .cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eef2ff;
  gap: 96px;
}

main .cta .left-side {
  width: 50%;
  margin-top: 64px;
  margin-left: 112px;
}
main .cta .left-side h3 {
  color: #1e293b;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.504px;
}
main .cta .left-side p {
  color: #475569;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-top: 24px;
}
main .cta .left-side .btn {
  margin-top: 48px;
  display: flex;
  gap: 12px;
}
main .cta .left-side .btn .btn-learn {
  border-radius: 1234px;
  border: 1px solid #4f46e5;
  color: #4f46e5;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.112px;
  padding: 12px 20px;
}
main .cta .left-side .btn .btn-start {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.112px;
  border-radius: 1234px;
  background-color: #4f46e5;
  padding: 12px 20px;
}
main .cta .right-side {
  width: 50%;
  display: flex;
  position: relative;
  overflow: hidden;
}
main .cta .right-side .image-1-outer {
  margin-top: 64px;
  border: 2px solid #fff;
  padding: 2px 2px 0 2px;
  border-bottom: none;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset !important;
}
main .cta .right-side .image-1 {
  border-top-right-radius: 48px;
  border-top-left-radius: 48px;
  /* border: 2px solid #cbd5e1; */
  padding: 2px 2px 0 2px;
  border-bottom: none;
}

main .cta .right-side .image-2-outer {
  position: absolute;
  top: 0;
  right: -10px;
  border: 2px solid #fff;
  padding: 2px 2px 0 2px;
  border-top: none;
  border-bottom-right: none;
  border-bottom-left-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset !important;
}

/* footer section */
.footer {
  background-color: #f8fafc;
  padding: 96px 112px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  min-width: 150px;
  margin-bottom: 20px;
}

.footer-column h4 {
  color: #1e293b;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.112px;
  margin-bottom: 16px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: #475569;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.112px;
  margin-bottom: 12px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 20px;
}

#backToTop {
  border-radius: 123px;
  border: 1px solid #cbd5e1;
  cursor: pointer;
  padding: 5px;
}

#backToTop img {
  width: 24px;
  height: 24px;
}

.footer-bottom .copy-right {
  color: #94a3b8;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.084px;
}
